<form action="/login" method="post">
	<div>
	<label>Username:dddd</label>
	<input type="text" name="usernamedd"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="passworddd"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>
